input {
  border: 1px solid var(--main-text-color);
  font-size: var(--large-size-s);
  padding: 5px 10px;
  display: block;
  width: 100%;
}

.body {
  position: relative;
}

.passwordImage {
  width: 60px;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}

.password {
  padding: 5px 65px 5px 10px;
}
