@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  line-height: 1;
  font-family: "Roboto", sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-text-color);
}


.container {
  max-width: var(--container);
  margin: 0 auto;
}

button, input {
  background-color: transparent;
  border: 0;
  outline: 0;
}

button, input, textarea, a {
  color: var(--text-color);
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
