
.container {
  max-width: 775px;
  margin: 0 auto;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 27px 62px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: var(--large-size-s);
  margin-bottom: 10px;
  text-align: center;
}

.entryBtn {
  font-size: var(--medium-size-m);
  border: 1px solid var(--main-text-color);
  padding: 11px 23px;
    transition:
    color 500ms,
    background-color 500ms;
}

.entryBtn:hover {
  background-color: var(--main-text-color);
  color: var(--bg-color);
}

.email {
  margin-bottom: 41px;
}

.body {
  margin-bottom: 21px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgetPassword {
  color: #0057ff;
  font-size: 23px;
}

