.container {
  max-width: 775px;
  margin: 0 auto;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.body {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 27px 62px;
}

.title {
  font-size: var(--large-size-s);
  margin-bottom: 10px;
  text-align: center;
}







